<script type="text/ng-template" id="media-manager-modal.html">
    <div id="media-manager">
        <div class="modal-header">
            <h3 class="modal-title">{{ 'media_manager.title' | trans }}</h3>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-md-9"></div>
                        <div class="media-element" dir-paginate="media in medias | itemsPerPage: 9"></div>
                        <dir-pagination-controls></dir-pagination-controls>
                    <div class="col-xs-12 col-md-3"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="insert" class="btn btn-primary" type="button" ng-click="quitInsertMedia()">{{ 'media_manager.insert' | trans }}</button>
            <button id="quit" class="btn btn-warning" type="button" ng-click="quitWithoutMedia()">{{ 'media_manager.close' | trans }}</button>
        </div>
    </div>
</script>
