parameters:
    database_driver: pdo_sqlite
    database_host: mysql
    database_port: 3306
    database_name: '%kernel.cache_dir%/test.db'
    database_user: root
    database_password: root

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_port: 465
    mailer_user: null
    mailer_password: null
    mailer_encryption: null

    locale: fr
    secret: ThatsChapleanCmsBun2le

    use_assetic_controller: false
    use_assetic_debug: true
    sass.bin: /usr/local/bin/sass
    ruby.bin: /usr/bin/ruby
    compass.bin: /usr/local/bin/compass

    jms_serializer.camel_case_naming_strategy.class: JMS\Serializer\Naming\IdenticalPropertyNamingStrategy

    data_fixtures_namespace: Chaplean\Bundle\CmsBundle\
