/*** Global variables ***/
.st-sort-ascent:before {
  content: '\25B2\00a0'; }

.st-sort-descent:before {
  content: '\25BC\00a0'; }

html {
  height: 100%; }

body.cms {
  background-color: #eee;
  height: 100%; }

body.cms .container-fluid {
  height: 100%; }

body.cms .container-fluid > .row {
  height: 100%; }

body.cms .sidebar {
  background-color: #333;
  color: #D9D9D9;
  height: 100%; }

body.cms .sidebar a {
  color: #D9D9D9; }

body.cms .sidebar a:hover, body.cms .sidebar a:focus {
  color: #fff;
  text-decoration: none; }

body.cms .sidebar ul {
  padding: 0;
  list-style: none; }

body.cms .sidebar .custom-search-form input[type="text"], body.cms .sidebar .custom-search-form button, body.cms .sidebar .custom-search-form button:hover, body.cms .sidebar .custom-search-form button:focus {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0 solid rgba(255, 255, 255, 0.1);
  color: #D9D9D9;
  height: 35px;
  outline: none; }

body.cms .sidebar .sidebar-header {
  display: block;
  font-size: 18px;
  line-height: 40px;
  padding: 0 10px;
  text-align: center; }

body.cms .sidebar .sidebar-header img {
  display: block;
  margin: 18px auto; }

body.cms .sidebar .sidebar-menu li.treeview a span.glyphicon + span {
  margin-left: 5px; }

body.cms .sidebar .sidebar-menu li.treeview + li.treeview {
  margin-top: 10px; }

body.cms .navbar-default {
  background-color: #fff; }

body.cms .navbar-default span {
  display: inline-block;
  padding: 15px 0; }

body.cms .navbar-default #training-request-header {
  padding-bottom: 15px; }

body.cms .navbar-default #training-request-header > div {
  margin-top: 15px; }

body.cms .navbar-default #training-request-header span {
  display: block;
  font-size: 12px;
  padding: 0; }

body.cms .navbar-default #training-request-header .training-request-header-top {
  font-size: inherit;
  font-weight: bold;
  margin-bottom: 5px; }

body.cms section.content-header {
  margin: 0 -15px;
  padding: 15px; }

body.cms section.content-action {
  background-color: transparent;
  margin: 20px auto; }

body.cms .frontend-link, body.cms .frontend-link:hover, body.cms .frontend-link:focus {
  color: inherit;
  font-size: 12px;
  font-weight: bold;
  margin-left: 20px;
  text-decoration: none; }

body.cms .frontend-link:hover {
  color: #999999; }

body.cms .table th.sortable {
  cursor: pointer; }
