@import "../../../web/vendor/bootstrap-sass-official/assets/stylesheets/bootstrap-compass";
@import "../../../web/vendor/bootstrap-sass-official/assets/stylesheets/bootstrap";

@import "bootstrap-variables";
@import "variables";

// Mixin
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    transition: $transition;
}
// Mixin - end

.no-padding-right {
    padding-right: 0;
}
.no-padding-left {
    padding-left: 0;
}

.no-padding-lr {
    @extend .no-padding-left;
    @extend .no-padding-right;
}

.text-error {
    color: #A94442;
}

.text-success {
    color: #3c763d;
}

.st-sort-ascent:before{
    content: '\25B2\00a0';
}

.st-sort-descent:before{
    content: '\25BC\00a0';
}

body {
    background-color: #eee;

    .sidebar {
        background-color: #333;
        color: #D9D9D9;
        height: 100%;
        position: fixed;

        a {
            color: #D9D9D9;

            &:hover, &:focus {
                color: #fff;
                text-decoration: none;
            }
        }

        ul {
            padding: 0;
            list-style: none;
        }

        .custom-search-form {
            input[type="text"], button, button:hover, button:focus {
                box-shadow: none;
                background-color: rgba(255, 255, 255, 0.1);
                border: 0 solid rgba(255, 255, 255, 0.1);
                color: #D9D9D9;
                height: 35px;
                outline: none;
            }
        }

        .sidebar-header {
            display: block;
            font-size: 18px;
            line-height: 40px;
            padding: 0 10px;
            text-align: center;

            img {
                display: block;
                margin: 18px auto;
            }
        }

        .sidebar-menu {
            li.treeview {
                a {
                    span.glyphicon + span {
                        margin-left: 5px;
                    }
                }

                & + li.treeview {
                    margin-top: 10px;
                }
            }
        }
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-default {
        background-color: #fff;

        span {
            display: inline-block;
            padding: 15px 0;
        }

        #training-request-header {
            padding-bottom: 15px;

            &>div {
                margin-top: 15px;
            }

            span {
                display: block;
                font-size: 12px;
                padding: 0;
            }

            .training-request-header-top {
                font-size: inherit;
                font-weight: bold;
                margin-bottom: 5px;
            }
        }
    }

    section.content-header {
        margin: 0 -15px;
        padding: 15px;
    }

    section.content-action {
        background-color: transparent;
        margin: 20px auto;
    }

    .frontend-link, .frontend-link:hover, .frontend-link:focus {
        color: inherit;
        font-size: 12px;
        font-weight: bold;
        margin-left: 20px;
        text-decoration: none;
    }

    .frontend-link:hover {
        color: #999999;
    }

    .table {
        th.sortable {
            cursor: pointer;
        }

        tfoot {
            nav {
                a {
                    cursor: pointer;
                }
            }
        }
    }

    .panel.panel-body {
        border-radius: 0;
        border-top: 2px solid $brand-primary;
    }
}

div.alert-fix-top {
    border-radius: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1800;
    text-align: center;
}

.align-label, .align-span {
    margin-top: 7px;
}