@import "../../../web/vendor/bootstrap-sass-official/assets/stylesheets/bootstrap-compass";
@import "../../../web/vendor/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "bootstrap-variables";
@import "variables";

// Mixin
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    transition: $transition;
}

// Mixin - end
.no-padding {
    &-left {
        padding-left: 0 !important;
    }

    &-right {
        padding-right: 0 !important;
    }

    &-lr {
        @extend .no-padding-left;
        @extend .no-padding-right;
    }
}

.text-error {
    color: #A94442;
}

.text-success {
    color: #3C763D;
}

.st-sort-ascent:before {
    content: '\25B2\00a0';
}

.st-sort-descent:before {
    content: '\25BC\00a0';
}

.filter-select {
    margin-top: 8px;
}

body {
    background-color: #EEE;

    .sidebar {
        background-color: #333;
        color: #D9D9D9;
        height: 100%;
        position: fixed;

        a {
            color: #D9D9D9;

            &:hover, &:focus {
                color: #FFF;
                text-decoration: none;
            }
        }

        ul {
            padding: 0;
            list-style: none;
        }

        .custom-search-form {
            input[type="text"], button, button:hover, button:focus {
                box-shadow: none;
                background-color: rgba(255, 255, 255, 0.1);
                border: 0 solid rgba(255, 255, 255, 0.1);
                color: #D9D9D9;
                height: 35px;
                outline: none;
            }
        }

        .sidebar-header {
            display: block;
            font-size: 18px;
            line-height: 40px;
            padding: 0 10px;
            text-align: center;

            img {
                display: block;
                margin: 18px auto;
            }
        }

        .sidebar-menu {
            li.treeview {
                a {
                    span.glyphicon + span {
                        margin-left: 5px;
                    }
                }

                & + li.treeview {
                    margin-top: 10px;
                }
            }
        }
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-default {
        background-color: #FFF;

        span {
            display: inline-block;
            padding: 15px 0;
        }

        #training-request-header {
            padding-bottom: 15px;

            & > div {
                margin-top: 15px;
            }

            span {
                display: block;
                font-size: 12px;
                padding: 0;
            }

            .training-request-header-top {
                font-size: inherit;
                font-weight: bold;
                margin-bottom: 5px;
            }
        }
    }

    section.content-header {
        margin: 0 -15px;
        padding: 15px;
    }

    section.content-action {
        background-color: transparent;
        margin: 20px auto;
    }

    .frontend-link, .frontend-link:hover, .frontend-link:focus {
        color: inherit;
        font-size: 12px;
        font-weight: bold;
        margin-left: 20px;
        text-decoration: none;
    }

    .frontend-link:hover {
        color: #999999;
    }

    .table {
        th.sortable {
            cursor: pointer;
        }

        tfoot {
            nav {
                a {
                    cursor: pointer;
                }
            }
        }
    }

    .panel.panel-body {
        border-radius: 0;

        &.panel-back {
            border-top: 2px solid $brand-primary;
        }
    }
}

div.alert-fix-top {
    border-radius: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1800;
    text-align: center;
}

.align-label, .align-span {
    margin-top: 7px;
}

.align-choices {
    padding-top: 5px;
}

.default-logo {
    height: 130px;
}

.dropdown-menu {
    & > li.active {
        & > a {
            text-decoration: none;
            color: #262626;
            background-color: #f5f5f5;
        }
    }
}

.header-post {
    background-color: #ddd;
    margin-bottom: 25px;

    h3 {
        margin-bottom: 20px;
    }

    .nav {
        margin-top: -60px;

        a.dropdown-toggle {
            color: #000;
            background-color: transparent;


            &:hover {
                background-color: transparent;
            }

            &:focus {
                background-color: transparent;
            }
        }
    }
}
.block-content-info {
    margin-bottom: 15px;
    padding-bottom: 10px;

    &.link {
        cursor: pointer;
    }

    &.list {
        border-bottom: 1px solid #AAA;

        &:last-child {
            border-bottom: none;
        }
    }

    h5 {
        font-style: italic;
    }

    .content {
        max-height: 180px;
        overflow: hidden;

        p:last-child {
            text-overflow: ellipsis;
            max-height: 150px;
            overflow: hidden;
        }
    }

    .page-content {
        margin-top: 30px;
    }
}

#media-manager .media-element {
    i.fa {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }

    &.active {
        i.fa {
            display: block;
        }

        img {
            box-shadow: 0 0 10px #424242;
        }
    }
}

textarea {
    resize: vertical;
}